{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% for article in articles %}
  <div id="content" class="row">
   <div class="col-md-3" style="border-right: 1px solid black; text-align: right">
    <span class="dateline">Published: {{ article.nice_date }}</span>
   </div>
   <div class="col-md-7">
    <h1><a href="{{ url_for('page', path=article.path) }}">{{ article.title }}</a></h1>
    <div class="body">
{{ article }}
    </div>
    <hr/>
   </div>
  </div>
{% endfor %}
  <div class="row">
   <div class="col-md-offset-3 col-md-7">
{% for article in other_articles %}
    {% if article.year != prev_year %}
        </ul>
    {% endif %}
    {% if loop.first or article.year != prev_year %}
        <h3>{{ article.year }}</h3><ul>
    {% endif %}
    <li><a href="{{ url_for('page', path=article.path) }}">{{ article.title }}</a>
    {% set prev_year = article.year %}
    {% if loop.last %}
        </ul>
    {% endif %}
{% endfor %}
   </div>
  </div>
{% endblock %}
