{% extends "layout.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
  <div id="content" class="row">
   <div class="col-md-3" style="border-right: 1px solid black; text-align: right">
    <span class="dateline">Published: {{ article.nice_date }}</span>
   </div>
   <div class="col-md-7">
    <h1><a href="{{ url_for('page', path=article.path) }}">{{ article.title }}</a></h1>
    <div class="body">
{{ article }}
    </div>
    <hr/>
{% if next_ %}
   <a style="float: right" href="{{ url_for('page', path=next_.path) }}">Older: {{ next_.title }}</a>
{% endif %}
{% if prev %}
   <a href="{{ url_for('page', path=prev.path) }}">Newer: {{ prev.title }}</a>
{% endif %}
{% endblock %}
   </div>
  </div>
